<style>
T1 {
    display: inline-block;
    background: linear-gradient(90deg,#ffb457,#ff7043);
    color: #fff;
    padding: 10px 16px;
    border-radius: 8px;
    font-size: 23px;
    font-weight: 900;
    font-family: "Segoe UI", Roboto, Arial, sans-serif;
    box-shadow: 0 4px 10px rgba(0,0,0,0.12);
    letter-spacing: 0.2px;
    border: 1px solid rgba(255,255,255,0.15);
}
</style>

<T1>Importation des bibliotheques</T1>

In [190]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import seaborn as sns

<style>
T1 {
    display: inline-block;
    background: linear-gradient(90deg,#ffb457,#ff7043);
    color: #fff;
    padding: 10px 16px;
    border-radius: 8px;
    font-size: 23px;
    font-weight: 900;
    font-family: "Segoe UI", Roboto, Arial, sans-serif;
    box-shadow: 0 4px 10px rgba(0,0,0,0.12);
    letter-spacing: 0.2px;
    border: 1px solid rgba(255,255,255,0.15);
}
</style>

<T1>Chargement & Structure Initiale des donnees</T1>

In [191]:
# chargement des fichiers CSV

# r√©pertoire des donn√©es brutes :
data_dir = Path("..") / "data" / "raw"
csv_files = sorted([p for p in data_dir.iterdir() if p.suffix.lower() in [".csv", ".xlsx"]])

# liste de DataFrame (m√™me ordre que csv_files) et dict {stem: df} :
dfs = [pd.read_csv(p) if p.suffix.lower() == ".csv" else pd.read_excel(p) for p in csv_files]
dfs_names = [p.stem for p in csv_files]
dfs_dict = dict(zip(dfs_names, dfs))

C:\Users\asmaj\AppData\Local\Temp\ipykernel_3344\1442512518.py:8: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs = [pd.read_csv(p) if p.suffix.lower() == ".csv" else pd.read_excel(p) for p in csv_files]

In [192]:
# Afficher un aper√ßu de chaque DataFrame
for name, df in dfs_dict.items():
    print(f"--- {name} ---")
    display(df.head())

--- Avg_By_Mode_Chicago ---

  service_date day_type     bus  rail_boardings  total_rides
0   2001-01-01        U  297192          126455       423647
1   2001-01-02        W  780827          501952      1282779
2   2001-01-03        W  824923          536432      1361355
3   2001-01-04        W  870021          550011      1420032
4   2001-01-05        W  890426          557917      1448343

--- Avg_By_Mode_Philadelphia ---

,Calendar_Year,Calendar_Month,Mode,Average_Daily_Ridership,Source,ObjectId
0,2019,1,Bus,459160,APC,1
1,2019,1,CCT,4294,Revenue,2
2,2019,1,Heavy Rail,296709,Revenue,3
3,2019,1,Regional Rail,122856,Revenue,4
4,2019,1,Trackless Trolley,16853,APC,5

--- Avg_By_Route_Chicago ---

  Route                 Date day_type  total_rides
0     1  2004-06-16T00:00:00        W         3174
1   100  2021-06-29T00:00:00        W          176
2   100  2018-05-21T00:00:00        W          497
3   106  2009-02-25T00:00:00        W         3146
4   100  2021-12-30T00:00:00        W          204

--- Avg_By_Route_Philadelphia ---

,Calendar_Year,Calendar_Month,Route,Average_Daily_Ridership,Source,ObjectId
0,2019,8,59,3811,APC,2
1,2019,8,60,8550,APC,3
2,2019,8,61,3563,APC,4
3,2019,8,62,226,APC,5
4,2019,8,64,4335,APC,6

In [ ]:
# extraire jour/mois/ann√©e de service_date
for name, df in dfs_dict.items():
    if 'service_date' in df.columns:
        df['service_date'] = pd.to_datetime(df['service_date'], errors='coerce')
        df['Calendar_Year'] = df['service_date'].dt.year
        df['Calendar_Month'] = df['service_date'].dt.month
        df['Calendar_Day'] = df['service_date'].dt.day

In [194]:
# Taille des DataFrames
for name, df in dfs_dict.items():
    print(f" - {name}: {df.shape}")

 - Avg_By_Mode_Chicago: (9100, 8)
 - Avg_By_Mode_Philadelphia: (492, 6)
 - Avg_By_Route_Chicago: (1092474, 4)
 - Avg_By_Route_Philadelphia: (10994, 6)

In [195]:
# noms des colonnes des DataFrames
for name, df in dfs_dict.items():
    print(f"Colonnes de {name}:\n {df.columns.tolist()}\n")

Colonnes de Avg_By_Mode_Chicago:
 ['service_date', 'day_type', 'bus', 'rail_boardings', 'total_rides', 'Calendar_Year', 'Calendar_Month', 'Calendar_Day']

Colonnes de Avg_By_Mode_Philadelphia:
 ['Calendar_Year', 'Calendar_Month', 'Mode', 'Average_Daily_Ridership', 'Source', 'ObjectId']

Colonnes de Avg_By_Route_Chicago:
 ['Route', 'Date', 'day_type', 'total_rides']

Colonnes de Avg_By_Route_Philadelphia:
 ['Calendar_Year', 'Calendar_Month', 'Route', 'Average_Daily_Ridership', 'Source', 'ObjectId']

In [196]:
# type des colonnes des DataFrames
for name, df in dfs_dict.items():
    print(f"Types des colonnes de {name}:\n{'*'*50}\n{df.dtypes}\n")

Types des colonnes de Avg_By_Mode_Chicago:
**************************************************
service_date      datetime64[ns]
day_type                  object
bus                        int64
rail_boardings             int64
total_rides                int64
Calendar_Year              int32
Calendar_Month             int32
Calendar_Day               int32
dtype: object

Types des colonnes de Avg_By_Mode_Philadelphia:
**************************************************
Calendar_Year               int64
Calendar_Month              int64
Mode                       object
Average_Daily_Ridership     int64
Source                     object
ObjectId                    int64
dtype: object

Types des colonnes de Avg_By_Route_Chicago:
**************************************************
Route          object
Date           object
day_type       object
total_rides     int64
dtype: object

Types des colonnes de Avg_By_Route_Philadelphia:
**************************************************
Calendar_Year               int64
Calendar_Month              int64
Route                      object
Average_Daily_Ridership     int64
Source                     object
ObjectId                    int64
dtype: object

#### üö© **Remarque:**
- colonne date dans Avg_By_Route_Chicago est de type object il faut la convertir en datetime

In [200]:
#------------------- Conversion de la colonne Date en datetime
df = dfs_dict.get('Avg_By_Route_Chicago')

df['Date'] = pd.to_datetime(
    df['Date'],
    format='%Y-%m-%dT%H:%M:%S',
    errors='raise'   # garantit qu‚Äôaucune valeur invalide ne passe silencieusement
)

# Suppression de la partie temps (on garde uniquement la date)
df['Date'] = df['Date'].dt.date

# (Optionnel mais propre) Reconvertir en datetime64[ns] sans heure
df['Date'] = pd.to_datetime(df['Date'])


#------------------- Extraire jour/mois/ann√©e de Date
for name, df in dfs_dict.items():
    if 'Date' in df.columns:
        df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
        df['Calendar_Year'] = df['Date'].dt.year
        df['Calendar_Month'] = df['Date'].dt.month
        df['Calendar_Day'] = df['Date'].dt.day

In [201]:
# periode des donn√©es dans chaque DataFrame
for name, df in dfs_dict.items():
    if 'Calendar_Year' in df.columns:
        print(f"P√©riode des donn√©es dans {name}: {df['Calendar_Year'].min()} - {df['Calendar_Year'].max()}")

P√©riode des donn√©es dans Avg_By_Mode_Chicago: 2001 - 2025
P√©riode des donn√©es dans Avg_By_Mode_Philadelphia: 2019 - 2025
P√©riode des donn√©es dans Avg_By_Route_Chicago: 2001 - 2025
P√©riode des donn√©es dans Avg_By_Route_Philadelphia: 2019 - 2025

In [202]:
## üö© Remarque :
# La p√©riode des donn√©es analys√©es est 2019 ‚Äì 2025.
# La p√©riode des donn√©es dans 'Avg_By_Mode_Chicago' et 'Avg_By_Route_Chicago' est 2001 ‚Äì 2025.

## üìå D√©cision
# Supprimer les donn√©es ant√©rieures √† 2019.
dfs_dict['Avg_By_Mode_Chicago'] = dfs_dict['Avg_By_Mode_Chicago'][dfs_dict['Avg_By_Mode_Chicago']['Calendar_Year'] >= 2019]
dfs_dict['Avg_By_Route_Chicago'] = dfs_dict['Avg_By_Route_Chicago'][dfs_dict['Avg_By_Route_Chicago']['Calendar_Year'] >= 2019]

# enregistre les modifications
dfs_dict['Avg_By_Mode_Chicago'].to_csv(data_dir / "Avg_By_Mode_Chicago_2019_2025.csv", index=False)
dfs_dict['Avg_By_Route_Chicago'].to_csv(data_dir / "Avg_By_Route_Chicago_2019_2025.csv", index=False)

# modification du dict pour refl√©ter le changement
dfs_dict['Avg_By_Mode_Chicago'] = pd.read_csv(data_dir / "Avg_By_Mode_Chicago_2019_2025.csv")
dfs_dict['Avg_By_Route_Chicago'] = pd.read_csv(data_dir / "Avg_By_Route_Chicago_2019_2025.csv")

display(dfs_dict['Avg_By_Mode_Chicago'].head())
print(f" - Avg_By_Mode_Chicago: {dfs_dict['Avg_By_Mode_Chicago'].shape}")
display(dfs_dict['Avg_By_Route_Chicago'].head())
print(f" - Avg_By_Route_Chicago: {dfs_dict['Avg_By_Route_Chicago'].shape}")

C:\Users\asmaj\AppData\Local\Temp\ipykernel_3344\1083791516.py:16: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs_dict['Avg_By_Route_Chicago'] = pd.read_csv(data_dir / "Avg_By_Route_Chicago_2019_2025.csv")

,service_date,day_type,bus,rail_boardings,total_rides,Calendar_Year,Calendar_Month,Calendar_Day
0,2019-01-01,U,248879,245852,494731,2019,1,1
1,2019-01-02,W,591006,573542,1164548,2019,1,2
2,2019-01-03,W,664442,627781,1292223,2019,1,3
3,2019-01-04,W,668812,628514,1297326,2019,1,4
4,2019-01-05,A,444434,348257,792691,2019,1,5

 - Avg_By_Mode_Chicago: (2526, 8)

,Route,Date,day_type,total_rides,Calendar_Year,Calendar_Month,Calendar_Day
0,100,2021-06-29,W,176,2021,6,29
1,100,2021-12-30,W,204,2021,12,30
2,1001,2022-08-10,W,25,2022,8,10
3,108,2024-05-21,W,773,2024,5,21
4,100,2021-12-07,W,259,2021,12,7

 - Avg_By_Route_Chicago: (288929, 7)

<style>
T1 {
    display: inline-block;
    background: linear-gradient(90deg,#ffb457,#ff7043);
    color: #fff;
    padding: 10px 16px;
    border-radius: 8px;
    font-size: 23px;
    font-weight: 900;
    font-family: "Segoe UI", Roboto, Arial, sans-serif;
    box-shadow: 0 4px 10px rgba(0,0,0,0.12);
    letter-spacing: 0.2px;
    border: 1px solid rgba(255,255,255,0.15);
}
</style>

<T1> Analyse de Qualit√© des Donn√©es</T1>

In [203]:
# valeurs manquantes par colonne de chaque DataFrame
for name, df in dfs_dict.items():
    valeurs_nulles = df.isnull().sum()
    taux_valeurs_nulles = round((df.isnull().sum() / len(df)) * 100, 2)

    df_nulles = pd.DataFrame({
        'Colonne': valeurs_nulles.index,
        'Nb_Manquants': valeurs_nulles.values,
        'Pourcentage': taux_valeurs_nulles.values
    }).sort_values('Nb_Manquants', ascending=False)
    
    print(f"--- Valeurs manquantes dans {name} ---")
    print('='*50,'\n',df_nulles,'\n')

--- Valeurs manquantes dans Avg_By_Mode_Chicago ---
==================================================
           Colonne  Nb_Manquants  Pourcentage
0    service_date             0          0.0
1        day_type             0          0.0
2             bus             0          0.0
3  rail_boardings             0          0.0
4     total_rides             0          0.0
5   Calendar_Year             0          0.0
6  Calendar_Month             0          0.0
7    Calendar_Day             0          0.0

--- Valeurs manquantes dans Avg_By_Mode_Philadelphia ---
==================================================
                    Colonne  Nb_Manquants  Pourcentage
0            Calendar_Year             0          0.0
1           Calendar_Month             0          0.0
2                     Mode             0          0.0
3  Average_Daily_Ridership             0          0.0
4                   Source             0          0.0
5                 ObjectId             0          0.0

--- Valeurs manquantes dans Avg_By_Route_Chicago ---
==================================================
           Colonne  Nb_Manquants  Pourcentage
0           Route             0          0.0
1            Date             0          0.0
2        day_type             0          0.0
3     total_rides             0          0.0
4   Calendar_Year             0          0.0
5  Calendar_Month             0          0.0
6    Calendar_Day             0          0.0

--- Valeurs manquantes dans Avg_By_Route_Philadelphia ---
==================================================
                    Colonne  Nb_Manquants  Pourcentage
0            Calendar_Year             0          0.0
1           Calendar_Month             0          0.0
2                    Route             0          0.0
3  Average_Daily_Ridership             0          0.0
4                   Source             0          0.0
5                 ObjectId             0          0.0

In [204]:
# valeurs doublons dans chaque DataFrame
for name, df in dfs_dict.items():
    nb_doublons = df.duplicated().sum()
    print(f"Nombre de lignes dupliqu√©es dans {name}: {nb_doublons}")

Nombre de lignes dupliqu√©es dans Avg_By_Mode_Chicago: 0
Nombre de lignes dupliqu√©es dans Avg_By_Mode_Philadelphia: 0
Nombre de lignes dupliqu√©es dans Avg_By_Route_Chicago: 0
Nombre de lignes dupliqu√©es dans Avg_By_Route_Philadelphia: 0

In [205]:
# valeurs n√©gatives ou nulles dans la colonne 'Average_Daily_Ridership' de chaque DataFrame
for name, df in dfs_dict.items():
    if 'Average_Daily_Ridership' in df.columns:
        print(f"--{name}---")
        display(df[df['Average_Daily_Ridership'] <= 0])
    else :
        print(f"--{name}---")
        display(df[df['total_rides'] <= 0])

--Avg_By_Mode_Chicago---

Empty DataFrame
Columns: [service_date, day_type, bus, rail_boardings, total_rides, Calendar_Year, Calendar_Month, Calendar_Day]
Index: []

--Avg_By_Mode_Philadelphia---

Empty DataFrame
Columns: [Calendar_Year, Calendar_Month, Mode, Average_Daily_Ridership, Source, ObjectId]
Index: []

--Avg_By_Route_Chicago---

,Route,Date,day_type,total_rides,Calendar_Year,Calendar_Month,Calendar_Day
165778,992,2020-05-12,W,0,2020,5,12
166492,992,2020-06-16,W,0,2020,6,16
172295,X98,2020-06-03,W,0,2020,6,3
174059,X98,2022-01-05,W,0,2022,1,5
230534,169,2022-11-19,A,0,2022,11,19

--Avg_By_Route_Philadelphia---

,Calendar_Year,Calendar_Month,Route,Average_Daily_Ridership,Source,ObjectId
1024,2020,4,8,0,APC,1026
1076,2020,4,62,0,APC,1078
1130,2020,4,133,0,APC,1132
1133,2020,4,201,0,APC,1135